@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("http://surl.li/cheas");
    height: 100vh;
    background-size: cover;
    background-position:center;
    text-align: center;
}

.Tourism-card {
    color:#ffffff;
    background-color: transparent;
    border-radius: 25px;
    padding: 5px;
}

.main-heading {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.paragraph {
    font-family: "Roboto";
}

.button {
    color: white;
    background-color: #25b1cc;
    border-radius: 25px;
    border: 1px solid #000;
    width: 138px;
    height: 36px;
}
.button:hover{
    color: #25b1cc;
    background:transparent;
    border: 1px solid #ffff;
    }